!!!5
%html
	%head
		%title Coderetreat Remote
		%meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    	%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
		%script{:type => "text/javascript", :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js'}
		%script{:type => "text/javascript", :src => "http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.js"}
		%script{:type => "text/javascript", :src => "http://js.pusherapp.com/1.9/pusher.min.js"}
		%link{:rel => "stylesheet", :href => "http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css"}
		%script{:type => "text/javascript", :src => "/remote.js"}
		%link{:rel => "stylesheet", :href => "/remote.css"}
	%body
		%page{:data => {:role => :page}}
			%header{:data => {:role => :header}}
				%h2 Coderetreat remote
			%div{:data => {:role => :content}}
				.session_name
				.timer
				.button.nyan{:data => {:role => :button}} stop Nyan Cat	
				.button.raffle{:data => {:role => :button}} Everyday I'm Shuffling!
				%br
				.button.go{:data => {:role => :button}} Next