$background: #1B120D;
$header: #F0A130;
$link: #D73513;
$text-box: #FFFACB;
$header-background: #995E24;
$border: #312118;
$text: #000000;

$font-title: Arial, san-serif;
$font-subtitle: Arial, san-serif;
$font-regular: Arial, san-serif;

$height: 768px;
$width: 1280px;
$margin: 20px;

$twitter-width: 350px;
$content-width: 850px;

$top-size: 50px;
$bottom-size: 600px;

body{
	font-family: $font-regular;
	color: $text;
	font-size: 28px;
	background: $background;

}
h1,h2,h3,h4,h5{
	margin: 0;
	color: $header;
}

.left{
	float: left;
}
.container{
	float: left;
	width: $content-width;
	margin-left: $margin;
}
.session-counter{
	border-radius: 5px;
	background: $header-background;
	height: $top-size;
	text-align: center;
	line-height: $top-size;
	margin-bottom: $margin;
}
.pb-wrap{
	width: 100%;
	height: $top-size;
	border-radius: 5px;
	background: $text-box;

	.pb-size{
		background: $link;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		height: 100%;
		width: 0;
		&.hasShadow{
			border-right: 4px solid #73b3d1;
		}
		&.roundRight{
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}

.timer_overlay{
	position: fixed;
	left: 45%;
	height: 65px;
	top: 0;
	padding: 5px 25px;
	font-size: 62px;
	background: $header-background;
	color: $header;
	font-weight: bold;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}
.text_area{
	width: 100%;
	height: $bottom-size + 75px;
	background: $text-box;
	border-radius: 5px;
	margin-top: $margin;
	.text{
		padding: 10px;
	}
	iframe{
		height: 90%;
		width: 96%;
		margin: 2%;
		
	}
}

.delete_code{
	position: fixed;
	display: block;
	padding: 40px;
	background: $background;
	color: white;
	z-index: 1000;
	padding: 9px 40px;
	font-weight: bold;
	font-size: 30px;
	left: 38%;
	top: 0;
}

.raffle{
	overflow: hidden;
	li{
		$h: 30px;
		float: left;
		display: block;
		width: 200px;
		height: $h;
		line-height: $h;
		margin: 5px;
		background: #ede8b1;
		color: $text;
		font-weight: bold;
		text-align: center;
		&.selected{
			background: $link;
		}
		&.won{
			
		}
		&.lost{
			color: $text-box;
		}
	}
	
}

.twtr-timeline{
	font-size: 20px;
}

