!!!5
%html
	%head
		%title Coderetreat Dashboard
		%script{:type => "text/javascript", :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js'}
		%script{:type => "text/javascript", :src => '/underscore.js'}
		%script{:type => "text/javascript", :src => '/backbone.js'}
		%script{:type => "text/javascript", :src => '/website.js'}
		%link{:type => "text/css", :rel => "stylesheet", :href => '/website.css'}
	%body
		#templates
			%script#raffle{:type => "text/template"}
				.raffle
					%ul
						<% _.each(participants, function (name) { %><li><%= name %></li><% }); %>
			%script#text{:type => "text/template"}		
				.text{:style => "display:none"}
					%h2 <%= header %>
					%p <%= text %>
			%script#ideas{:type => "text/template"}		
				.text.ideas{:style => "display:none"}
					%h2 Session Ideas
					%ul	
						<% _.each(ideas, function (name) { %><li><%= name %></li><% }); %>
			%script#session{:type => "text/template"}
				%h2 Session #<%= number %>
			%script#alarm{:type => "text/template"}
				%iframe{:src => "http://www.youtube.com/watch_popup?v=<%= alarm %>&autoplay=1&iv_load_policy=3&version=3"}
		#in-session.page
			.left
				.session-counter
				.twitter_wall
					%script{:src => "http://widgets.twimg.com/j/2/widget.js"}
					:javascript
						new TWTR.Widget({
						  version: 2,
						  type: 'search',
						  search: "#GDCR OR #GDCRIL",
						  interval: 30000,
						  title: '',
						  subject: '#GDCRIL',
						  width: 250,
						  height: 300,
						  theme: {
						    shell: {
						      background: '#995E24',
						      color: '#F0A130'
						    },
						    tweets: {
						      background: '#FFFACB',
						      color: '#000000',
						      links: '#D73513'
						    }
						  },
						  features: {
						    scrollbar: false,
						    loop: true,
						    live: true,
						    behavior: 'default'
						  }
						}).render().start();
			.container
				.progress-bar
					.pb-wrap
						.pb-size
				.text_area
			.timer_overlay{:style => "display:none;"} timer
			%script
				window.currentSession = #{session.to_json}
